@import url("https://fonts.googleapis.com/css2?family=Jost:wght@300;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Jost", sans-serif;
  color: #4c4d4d;
  font-weight: 300;
}

h1, h2, h3, h4, h5, h6 {
  color: #252b33;
}

.fw__500 {
  font-weight: 500 !important;
}

.bg__danger {
  background-color: #ff7800;
}

.text__light {
  color: #dee3e4;
}

.text__green {
  color: #1fc963;
}

a, a:hover, .text__danger {
  color: #ff7800;
}

a, a:focus {
  text-decoration: none;
  transition: all 0.2s ease;
}

.fs__8 {
  font-size: 8.25rem;
}

.fs__ex {
  font-size: 0.875rem !important;
}

.opacity__4 {
  opacity: 0.4;
}

.section__padding {
  position: relative;
  padding: 5rem 0;
  overflow: hidden;
}
.section__padding .translate__middle {
  transform: translate(0, -40%) !important;
}
.section__padding .hr__hight {
  position: relative;
}
.section__padding .hr__hight::before {
  content: "";
  width: 5px;
  height: 30px;
  background-color: #1fc963;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

.btn {
  padding: 0.8rem 2.6rem;
  font-weight: 500;
  border-width: 2px;
  transition: all 0.5s ease;
}
.btn.btn__outline__primary {
  color: #ff7800;
  border-color: #ff7800;
}
.btn.btn__outline__primary:hover {
  background-color: #ff7800;
  border-color: #ff7800;
  color: #fff;
}
.btn.btn__primary {
  color: #fff;
  background-color: #ff7800;
  border-color: #ff7800;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.15);
}
.btn.btn__primary:hover {
  color: #fff;
  background-color: #ef6800;
  border-color: #ef6800;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
}
.btn.btn__outline__secondary {
  color: #6c757d;
  border-color: #6c757d;
}
.btn.btn__outline__secondary:hover {
  background-color: #6c757d;
  border-color: #6c757d;
  color: #fff;
}

/* End: Common css */
/* Start: Sidebar */
#main__wrapper {
  margin-left: 250px;
}
#main__wrapper .side__menu {
  position: fixed;
  left: 0;
  top: 0;
  width: 250px;
  height: 100% !important;
  background: #111418;
  border-right: 1px solid rgba(0, 0, 0, 0.07);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.065);
  z-index: 2;
  overflow: hidden;
  overflow-y: auto;
}
#main__wrapper .side__menu .shape__img {
  background-color: #323539;
}
#main__wrapper .navbar-nav {
  flex-direction: column;
  width: 100%;
}
#main__wrapper .navbar-nav a {
  color: rgba(250, 250, 250, 0.9);
  height: auto;
  padding: 6px 0;
}
#main__wrapper .navbar-nav a.active {
  color: #ff7800;
  transition: all 0.2s ease;
}
#main__wrapper .navbar-nav li:hover a {
  color: #ff7800;
  transition: all 0.2s ease;
}
#main__wrapper .social__icons {
  flex-direction: row !important;
  width: auto;
}
#main__wrapper .social__icons a {
  height: auto;
  padding: 0px 14px;
  font-size: 0.9rem;
  color: #aab1b8 !important;
}

/* End: Sidebar */
/* Start: Home Section */
#home .home__mask {
  background-color: rgba(37, 43, 51, 0.9);
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0.8;
}
#home .home__bg {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
#home .home__content {
  min-height: 100vh !important;
  position: relative;
  z-index: 2;
}
#home .home__content .letter__space {
  letter-spacing: 14px;
}
#home .scroll__down__arrow {
  position: absolute;
  z-index: 3;
  bottom: 20px;
  left: 50%;
  margin-left: -16px;
  width: 32px;
  height: 32px;
  line-height: 32px;
  font-size: 20px;
  text-align: center;
  color: #fff;
}
#home .scroll__down__arrow .animated {
  position: relative;
  -webkit-animation: updown 1.5s infinite;
          animation: updown 1.5s infinite;
}
@-webkit-keyframes updown {
  0% {
    top: -25px;
    opacity: 0;
  }
  100% {
    top: 10px;
    opacity: 1;
  }
}
@keyframes updown {
  0% {
    top: -25px;
    opacity: 0;
  }
  100% {
    top: 10px;
    opacity: 1;
  }
}

/* End: Home Section*/
/* Start: About Section */
#about .list-group li {
  padding: 10px 0;
}
#about .list-group > span {
  color: #4c4d4d;
}

/* End: About Section */
/* Start: Service Section */
#services .featured__box {
  box-sizing: border-box;
  position: relative;
  padding-left: 90px;
  padding-top: 0px;
}
#services .featured__box__icon {
  width: 70px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  position: absolute;
  top: 0;
  left: 0;
  margin-bottom: 0;
  font-size: 30px;
}

/* End: Service Section */
/* Start: Portfolio Section */
#Portfolio .nav-link {
  background: transparent;
  position: relative;
  border-radius: 0;
  padding: 0.6rem 1rem;
  color: #7b8084;
  white-space: nowrap !important;
}
#Portfolio .nav-link.active {
  color: #ff7800;
}
#Portfolio .nav-link.active::after {
  height: 2px;
  width: 100%;
  content: " ";
  background-color: #ff7800;
  display: block;
  position: absolute;
  bottom: -2px;
  left: 0;
  transform: translateY(-3px);
}
#Portfolio .nav-link:hover {
  color: #ff7800;
}
#Portfolio .portfolio__img {
  position: relative;
  overflow: hidden;
}
#Portfolio .portfolio__img .portfolio__overlay {
  text-align: center;
  display: flex !important;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
  opacity: 0;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
#Portfolio .portfolio__img:hover .portfolio__overlay {
  opacity: 1;
}

/* End: Portfolio Section */
/* Start: Testimonial Section */
#testimonial .carousel__wrap {
  margin-bottom: -3rem;
}
#testimonial .carousel__wrap .carousel__slide {
  width: 10px;
  height: 10px;
  border-radius: 50% !important;
  border: 2px solid #ff7800;
  background-color: transparent;
}
#testimonial .carousel__wrap .carousel__slide.active {
  background: #ff7800;
}

/* End: Testimonial Section */
/* Start: Contact Section */
#contact .form__control {
  padding: 0.81rem 0.96rem;
  border-color: #dae1e3;
  font-size: 16px;
  font-weight: 300;
}
#contact .form__control::-moz-placeholder {
  color: #b1b4b6;
  opacity: 1;
}
#contact .form__control:-ms-input-placeholder {
  color: #b1b4b6;
  opacity: 1;
}
#contact .form__control::placeholder {
  color: #b1b4b6;
  opacity: 1;
}
#contact .form__control:focus {
  border-color: rgba(255, 120, 0, 0.3);
  outline: 0;
  box-shadow: none;
}

/* End: Contact Section */
/* Start: Back to Top Icon */
.scroll__top {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2.8rem;
  width: 2.8rem;
  right: 30px;
  bottom: 20px;
  background-color: #c3c3c7;
  font-size: 0.875rem;
  z-index: 99999;
  border-radius: 50%;
}
.scroll__top:hover {
  background-color: #ff7800;
  color: #fff;
}
.scroll__top:hover .btn-tooltip {
  visibility: visible;
  opacity: 1;
}
.scroll__top .btn-tooltip {
  position: absolute;
  top: 50%;
  right: 100%;
  transform: translateY(-50%);
  visibility: hidden;
  opacity: 0;
}

/* End: Back to Top Icon */
/* Reponsive */
@media (max-width: 991.98px) {
  #main__wrapper {
    margin-left: auto;
  }
  #main__wrapper .side__menu {
    position: initial;
    width: 100%;
    height: auto !important;
    overflow: visible;
  }
  #main__wrapper .navbar-toggler {
    color: rgba(255, 255, 255, 0.85);
    font-size: 2rem;
  }
  #main__wrapper .navbar-toggler:focus {
    outline: 0 !important;
    box-shadow: none !important;
  }
  #main__wrapper .navbar-collapse {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 1000;
    background: rgba(0, 0, 0, 0.95);
    padding: 1rem;
  }
  #main__wrapper .navbar-collapse li:not(:last-child) {
    display: block;
    border-bottom: 1px solid rgba(250, 250, 250, 0.15);
  }

  .section__padding .translate__middle {
    transform: translate(0, -34%) !important;
  }

  .fs__8 {
    font-size: 4.25rem;
  }
}/*# sourceMappingURL=app.css.map */